<!DOCTYPE html>
<html>

<head>
	<title>
		New Cuoco
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un cuoco</h1>
	<form th:action="@{/admin/cuoco}" method="POST" th:object="${cuoco}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${cuoco.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
		
		<div>
			<label>Cognome:</label> 
			<span><input type="text" th:field="${cuoco.cognome}" /></span>
		    <span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">
		    </span>
		</div>
		
		<div>
			<label>Email:</label> 
			<span><input type="text" th:field="${cuoco.email}" /></span>
		    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
		    </span>
		</div>

		<div>
			<label>Data di nascita:</label> <span><input type="date" th:field="${cuoco.data}" /></span>
		    <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}">
		    </span>
		</div>

		<!--come inserire la foto!-->
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>