<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inserisci nuovo cuoco</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/newCuoco.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body>
	<header>

		<input type="checkbox" name="" id="toggler">
		<label for="toggler" class="fas fa-bars"></label>


		<a href="/" class="logo">Siw-Food<span>.</span></a>

		<nav class="navbar">
			<a href="/">Home</a>
			<a href="/cuoco">Chef</a>
		</nav>

        <div class="icons">
			<!-- Form di ricerca -->
			<form class="search-form" th:action="@{/searchRicette}" method="post">
				<input type="search" id="search-box" name="nome" placeholder="Cerca ricette...">
				<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
			</form>
			<div class="dropdown" id="userDropdown">
				<span class="user-icon fas fa-user"></span>
				<div class="dropdown-content" id="dropdownContent">
					<div class="user-info">
						<!-- Mostra il nome admin dinamicamente -->

						<span class="user-name" th:text="${userDetails.username}">Siw Food</span>
					</div>
					<!-- Link per logout admin -->
					<a href="/logout">Logout</a>
				</div>
				<div class="arrow-down"></div>
			</div>
		</div>

		

	</header>

	<div class="cuoco_main">
		<h1>Aggiungi un cuoco</h1>
		<form th:action="@{/admin/cuoco}" method="POST" th:object="${cuoco}">

			<div th:if="${#fields.hasGlobalErrors()}">
				<span th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</span>
			</div>

			<div class="nome">
				<label>Nome:</label>
				<span><input type="text" th:field="${cuoco.nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
				</span>
			</div>

			<div class="cognome">
				<label>Cognome:</label>
				<span><input type="text" th:field="${cuoco.cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">
				</span>
			</div>

			<div class="email">
				<label>Email:</label>
				<span><input type="text" th:field="${cuoco.email}" /></span>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</span>
			</div>

			<div class="data">
				<label>Data di nascita:</label> <span><input type="date" th:field="${cuoco.data}" /></span>
				<span th:if="${#fields.hasErrors('data')}" th:errors="*{data}">
				</span>
			</div>

			<div class="image">
				<label>Image:</label> <span><input type="file" id="image" name="image" accept="image/png" /></span>
			</div>

			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>
	</div>
</body>

</html>