<!DOCTYPE html>
<html>

<head>
	<title>
		New Ingrediente
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un ingrediente</h1>
	<form th:action="@{/admin/ingrediente}" method="POST" th:object="${ingrediente}">
		<input type="hidden" th:value="${ricettaId}" name="ricettaId" />
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${ingrediente.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>
		
		<div>
			<label>Quantità (grammi):</label> 
			<span><input type="number" th:field="${ingrediente.quantità}" /></span>
		    <span th:if="${#fields.hasErrors('quantità')}" th:errors="*{quantità}">
		    </span>
		</div>
		
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>