<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Gestione Ingredienti
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Gestione Ingredienti</h1>
	<div>
		<a href="/admin/formNewIngrediente">Inserisci i dati di un ingrediente</a>
	</div>
	<div>
		<a href="/admin/manageIngrediente">Gestisci gli ingredienti</a>
	</div>
	
</body>

</html>