<!DOCTYPE html>
<html>

<head>
	<title>
		SiwFood - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/ricetta">Elenco Ricette</a>
	</div>
	<div>
		<a href="/cuoco">Elenco Cuochi</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/indexRicetta">Operazioni sulle ricette</a>
	</div>
	<div>
		<a href="/admin/indexCuoco">Operazioni sui cuochi</a>
	</div>
	<div>
		<a href="/admin/indexIngrediente">Operazioni sugli ingredienti</a>
	</div>
</body>

</html>