<!DOCTYPE html>
<html>

<head>
	<title>Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Ricette</h1>
	<div th:if="${ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="ricetta : ${ricette}">
			<span th:text="${ricetta.nome}">nome</span>
			<a th:href="@{'/admin/formUpdateRicetta' + '/' + ${ricetta.id}}">Aggiorna</a>
			<a th:href="@{'/admin/ricetta' + '/' + ${ricetta.id}}">Cancella</a>
		</li>
	</ul>
</body>

</html>