<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dettagli chef</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/cuoco.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body>
	<header>

		<input type="checkbox" name="" id="toggler">
		<label for="toggler" class="fas fa-bars"></label>


		<a sec:authorize="isAuthenticated()" href="/success" class="logo">Siw-Food<span>.</span></a>
		<a sec:authorize="!isAuthenticated()" href="/" class="logo">Siw-Food<span>.</span></a>

		<nav class="navbar">
			<a sec:authorize="isAuthenticated()" href="/success">Home</a>
			<a sec:authorize="!isAuthenticated()" href="/">Home</a>
			<a href="/ricetta"> Ricette </a>
			<a href="/cuoco"> Chef </a>
		</nav>



		<div class="icons">
			<!-- Form di ricerca -->
			<form class="search-form" th:action="@{/searchRicette}" method="post">
				<input type="search" id="search-box" name="nome" placeholder="Cerca ricette...">
				<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
			</form>
			<div sec:authorize="isAuthenticated()">
				<div class="dropdown" id="userDropdown">
					<span class="user-icon fas fa-user"></span>
					<div class="dropdown-content" id="dropdownContent">
						<div class="user-info">
							<span class="user-name" th:text="${userDetails.username}">SiwFood</span>
						</div>
						<div th:if="${userRole == 'DEFAULT'}">
							<a href="/chef/profile">Profilo</a>
							<a href="/user/formNewRicetta">Crea una ricetta</a>
						</div>
						<a href="/logout">Logout</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</div>
			<a sec:authorize="!isAuthenticated()" href="/login" class="fas fa-user"></a>
		</div>

	</header>

	<!-- Main content -->
	<main>
		<h1>Profilo dello Chef</h1>
		<h2 th:text="${cuoco.nome + ' ' + cuoco.cognome}">Nome cuoco</h2>

		<!-- Profilo del cuoco -->
		<div th:if="${cuoco}" class="chef-profile">
			<div class="immagine_cuoco">
				<img th:src="@{'/images/cuochi/' + ${cuoco.image}}" alt="Immagine del cuoco"
					onerror="this.onerror=null; this.src='/images/cuochi/profilo.png';">
			</div>
			<div class="chef-details">
				<p><strong>Nome:</strong> <span th:text="${cuoco.nome}">Nome</span></p>
				<p><strong>Cognome:</strong> <span th:text="${cuoco.cognome}">Cognome</span></p>
				<p><strong>Email:</strong> <span th:text="${cuoco.email}">Email</span></p>
				<p><strong>Data di Nascita:</strong> <span th:text="${cuoco.data}">Data di Nascita</span></p>
			</div>

			<!-- Lista delle ricette -->
			<div class="ricette">
				<h2>Ricette:</h2>
				<div th:if="${#lists.isEmpty(cuoco.ricette)}">
					<p>Il cuoco non ha ricette disponibili.</p>
				</div>
				<div th:unless="${#lists.isEmpty(cuoco.ricette)}">
					<div class="ricetta-list">
						<div th:each="ricetta : ${cuoco.ricette}" class="ricetta-item">
							<div class="ricetta-image">
								<img th:src="@{'/images/ricette/' + ${ricetta.image}}" alt="Immagine della ricetta">
							</div>
							<a th:href="@{/ricetta/{id}(id=${ricetta.id})}" th:text="${ricetta.nome}">Nome Ricetta</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Caso in cui non ci sia un cuoco -->
		<div th:unless="${cuoco}" class="no-cuoco">
			<p>Il cuoco selezionato non esiste.</p>
		</div>
	</main>
</body>

</html>