<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Ricette</title>
</head>
<body>
    <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<h2>Ricerca Ricette</h2>

	<h1>Cerca ricetta per nome</h1>
	<form th:action="@{/searchRicette}" method="post">
		<div>Nome: <input type="text" th:value="${nome}" name="nome" />
		</div>
		<div><input type="submit" /></div>
	</form>
</body>
</html>