<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ricettario</title>
		
		<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		
		<!--comando per legare un foglio di stile esterno all'html-->
		<link rel="stylesheet" href="/css/stile.css">
	</head>
	<body>
		<header>
			
			<input type="checkbox" name="" id="toggler">
			<label for="toggler" class="fas fa-bars"></label>
			
			
			<a href="#" class="logo">Food<span>.</span></a>
			<ul class="navigation">
				<li><a href=#banner> Home </a></li>
				<li><a href=/ricetta> Ricette </a></li>
				<li><a href=/cuoco> Chef </a></li>
			</ul>
			
			<!--<form section="" class="search-form">
			<input type="search" id="search-box" placeholder="search here">
		    <label for="search-box" class="fas fa-search"> </label>
		    </form>-->
		  
		    <div class="icons">
				<!--<a id="menu-btn" class="fas fa-bars"></a>-->
				<a href="/formSearchRicette" class="fas fa-search"></a>
				<a href="/login" class="fas fa-user"></a>
			</div>
			
		</header>
		<section class="banner" id="banner">
			<div class="content">
			<h2>Delizie in cucina</h2>
			<p>Un ricettario che raccoglie le migliori ricette ideate da chef rinomati. Scopri una selezione di piatti deliziosi, dalle tradizioni culinarie italiane alle creazioni 
				più innovative che potrai cucinare per amici e famiglia!</p>
            </div>
            </section>
            
        
     
	</body>
	
</html>
