<!DOCTYPE html>
<html>

<head>
	<title>Ingredienti</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Ingredienti</h1>
	<div th:unless="${ingredienti == null or ingredienti.isEmpty()}">
        <ul>
            <li th:each="ingrediente : ${ingredienti}">
                <p th:text="'Nome: ' + ${ingrediente.nome} + ' - Quantità: ' + ${ingrediente.quantità} + ' grammi'"></p>
            </li>
        </ul>
    </div>
</body>

</html>