<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Siw Food- registrazione conclusa</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/successful.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>


<body>
	<header>
		<a th:href="${#authorization.expression('isAuthenticated()') ? '/cliente/indexUser' : '/login'}" class="logo">
			Siw-Food<span>.</span></a>
	</header>

	
	<h1>Congratulazioni ti sei registrato!</h1>
	<div>
		<span>Nome: </span>
		<span th:text="${user.nome}"></span>
	</div>
	<div>
		<span>Cognome: </span>
		<span th:text="${user.cognome}"></span>
	</div>
	<div>
		<span>Email: </span>
		<span th:text="${user.email}"></span>
	</div>
</body>

</html>