<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dettagli ricetta</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/ricetta.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body>
	<header>

		<input type="checkbox" name="" id="toggler">
		<label for="toggler" class="fas fa-bars"></label>

		<a sec:authorize="isAuthenticated()" href="/success" class="logo">Siw-Food<span>.</span></a>
		<a sec:authorize="!isAuthenticated()" href="/" class="logo">Siw-Food<span>.</span></a>

		<nav class="navbar">
			<a sec:authorize="isAuthenticated()" href="/success">Home</a>
			<a sec:authorize="!isAuthenticated()" href="/">Home</a>
			<a href="/ricetta"> Ricette </a>
			<a href="/cuoco">Chef</a>
		</nav>



		<div class="icons">
			<!-- Form di ricerca -->
			<form class="search-form" th:action="@{/searchRicette}" method="post">
				<input type="search" id="search-box" name="nome" placeholder="Cerca ricette...">
				<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
			</form>
			<div sec:authorize="isAuthenticated()">
				<div class="dropdown" id="userDropdown">
					<span class="user-icon fas fa-user"></span>
					<div class="dropdown-content" id="dropdownContent">
						<div class="user-info">
							<span class="user-name" th:text="${userDetails.username}">SiwFood</span>
						</div>
						<div th:if="${userRole == 'DEFAULT'}">
							<a href="/chef/profile">Profilo</a>
							<a href="/user/formNewRicetta">Crea una ricetta</a>
						</div>
						<a href="/logout">Logout</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</div>
			<a sec:authorize="!isAuthenticated()" href="/login" class="fas fa-user"></a>
		</div>

	</header>



	<main>
		<div class="heading">
			<h1>Dettagli Ricetta</h1>
			<h2 th:text="${ricetta.nome}">Nome Ricetta</h2>
		</div>

		<div class="ricetta-details" th:if="${ricetta}">
			<div class="left-column">
				<p class="descrizione" th:utext="${ricetta.descrizione}">Descrizione</p>

				<h4>Ingredienti:</h4>
				<ul class="ingredienti-list">
					<li th:each="ricettaIngrediente : ${ricetta.ingredienti}">
						<span th:text="${ricettaIngrediente.ingrediente.nome} + ' '">Nome ingrediente</span>
						<span th:if="${ricettaIngrediente.quantità != null}"
							th:text="${ricettaIngrediente.quantità + 'g'}">Quantità</span>
					</li>
				</ul>
				<p th:if="${#lists.isEmpty(ricetta.ingredienti)}" class="no-ingredienti">Non ci sono ingredienti per questa ricetta.</p>
			</div>

			<div class="right-column">
				<div class="ricetta-image">
					<img th:src="@{'/images/ricette/' + ${ricetta.image}}" alt="Immagine della ricetta">
				</div>

				<div class="cuoco-info">
					<div th:if="${ricetta.cuoco}">
						<div class="cuoco-image">
							<img th:src="@{'/images/cuochi/' + ${ricetta.cuoco.image}}" alt="Immagine del cuoco"
								onerror="this.onerror=null; this.src='/images/cuochi/profilo.png';">
						</div>
						<div class="cuoco-details">
							<h3>Chef:</h3>
							<!--<span th:if="${userRole != 'DEFAULT' or userRole == null}">-->
							<a th:href="@{/cuoco/{id}(id=${ricetta.cuoco.id})}"
								th:text="${ricetta.cuoco.nome + ' ' + ricetta.cuoco.cognome}"></a>
							<!--</span>
							<span th:if="${userRole == 'DEFAULT'}"
								th:text="${ricetta.cuoco.nome + ' ' + ricetta.cuoco.cognome}"></span>-->
						</div>
					</div>

					<div th:unless="${ricetta.cuoco}">
						<div class="cuoco-image">
							<img id="cuocoImage" src="/images/cuochi/profilo.png" alt="Immagine del cuoco">
						</div>
						<div class="cuoco-details">
							<h3>chef non assegnato</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<h4>Procedimento:</h4>
		<div class="procedimento" id="procedimento" th:data-procedimento="${ricetta.procedimento}"></div>
		<div th:unless="${ricetta}">Non esiste</div>
	</main>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var procedimentoContainer = document.getElementById('procedimento');
			var procedimentoText = procedimentoContainer.getAttribute('data-procedimento');
			var steps = procedimentoText.split('.');

			steps.forEach(function (step, index) {
				var stepElement = document.createElement('div');
				stepElement.classList.add('step');

				var stepNumber = document.createElement('div');
				stepNumber.classList.add('step-number');
				stepNumber.textContent = index + 1;

				var stepText = document.createElement('div');
				stepText.classList.add('step-text');
				stepText.innerHTML = step.trim();

				stepElement.appendChild(stepNumber);
				stepElement.appendChild(stepText);
				procedimentoContainer.appendChild(stepElement);
			});
		});
	</script>
</body>

</html>