<!DOCTYPE html>
<html>

<head>
	<title>Ricette</title>
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Ricette</h1>
	<div th:if="${ricette==null || ricette.isEmpty()}">Non ci sono ricette nel sistema</div>
	<ul>
		<li th:each="ricetta : ${ricette}">
			<div class="ricetta_image">
					<img th:src="@{'/images/ricette/' + ${ricetta.image}}">
				</div>
			<a th:href="@{'/ricetta' + '/' + ${ricetta.id}}"
				th:text="${ricetta.nome} ">Up! </a>
		</li>
	</ul>
</body>

</html>