:root{
    --gold: #FFD700; /* Colore dorato */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
}

section{
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 0, 0, .05);
}

.heading span{
    color: var(--gold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #fff;
    color: #333;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--gold);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff; /* Cambiato a bianco */
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

header .logo{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    font-weight: bolder;
}

header .logo span{
    color: var(--gold);
}

header .navbar a{
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #000; /* Cambiato a nero */
}

header .navbar a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header .icons {
    display: flex;
    align-items: center;
    gap:1rem;
}

header .icons a{
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
}

header .icons a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid #000; /* Cambiato a nero */
    display: none;
}




/* Stili per la barra di ricerca e l'icona di ricerca */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 3rem 0 0 3rem;
    outline: none;
}

.search-form .search-button {
    background: var(--gold); /* Colore dorato */
    color: #fff;
    border: none;
    border-radius: 0 3rem 3rem 0;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    outline: none;
}

.search-form .search-button:hover {
    background: rgba(0, 0, 0, 0.5) ; /* Cambio colore al passaggio del mouse */
}

.search-form .search-button i {
    font-size: 1.6rem;
}

.icons a {
    margin-left: 1rem; /* Spaziatura tra le icone */
}





/* Dropdown per admin nell'header */

header .icons a,
header .icons .dropdown {
    margin-right: 1.5rem; /* Spaziatura orizzontale tra le icone */
}

header .icons .dropdown {
    position: relative;
}

/* Stile per l'icona dell'utente nel dropdown */

header .icons .dropdown .user-icon {
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem; /* Aggiungi spazio sotto l'icona */
}

/* Cambia il colore dell'icona al passaggio del mouse */

header .icons .dropdown .user-icon:hover {
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

/* Stile per il contenitore del nome utente */

header .icons .dropdown .user-info {
    text-align: center;
    font-size: 2.7rem; /* Dimensione più grande per il nome utente */
    font-style: italic; /* Stile italico per il nome utente */
    margin-bottom: 1.5rem; /* Spazio sotto il nome utente */
}

/* Linea separatoria sotto il nome utente */

header .icons .dropdown .user-info::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0.5rem auto;
    border-bottom: 1px solid #ccc; /* Colore e stile della linea */
}

/* Stile per il contenitore delle opzioni nel dropdown */

header .icons .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    top: calc(100% + 1rem); /* Posiziona il dropdown sotto l'icona */
    left: 50%; /* Centra orizzontalmente il dropdown */
    transform: translateX(-50%);
    transition: opacity 0.3s ease; /* Aggiungi transizione per l'opacità */
    opacity: 0;
    text-align: center;
}

/* Stile per le opzioni nel dropdown */

header .icons .dropdown-content a {
    color: #333;
    padding: 0.8rem 1rem; /* Padding per le opzioni */
    display: block;
    text-align: center;
    text-decoration: none; /* Rimuovi sottolineatura dai link */
    font-size: 1.2rem; /* Dimensione più piccola per le opzioni */
}

/* Cambia il colore di sfondo e testo al passaggio del mouse sui link */

header .icons .dropdown-content a:hover {
    background-color: var(--gold);
    color: #fff;
}

/* Mostra il dropdown quando l'icona è in hover o il dropdown è in hover */
header .icons .dropdown:hover .dropdown-content,
header .icons .dropdown-content:hover {
    display: block;
    opacity: 1;
}

/* Imposta una larghezza fissa per il dropdown content */
header .icons .dropdown-content {
    width: 200px; /* Imposta una larghezza fissa */
}


/* Main styles */
h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    color: var(--gold);
}

.ricette-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
}

.ricetta-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ricetta-item::before,
.ricetta-item::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    z-index: -1;
}

.ricetta-item::after {
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: rgba(255, 255, 255, 0.3);
}

.ricetta-item:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 255, 255, 1);
}

.ricetta-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
    align-self: center;
}

.ricetta-details h2 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.ricetta-details a {
    font-size: 1.8rem;
    color: #333;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: color 0.3s, text-decoration 0.3s;
}

.ricetta-details a:hover {
    color: var(--gold);
    text-decoration: underline;
}

.ricetta-details form {
    display: flex;
    justify-content: space-around; /* Adjust spacing between buttons */
    width: 100%;
    margin-top: 1rem;
}

.ricetta-details button {
    font-size: 1.8rem;
    padding: 0.8rem 1.5rem;
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.ricetta-details button:hover {
    background-color: var(--gold);
    color: #fff;
}



/* Media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    
     h1 {
        font-size: 6rem;
    }

    .ricetta-item {
        width: 100%;
    }
}    
    
@media (max-width:768px){
    
    header .fa-bars{
        display: block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgb(255, 255, 255);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid var(--gold);
        display: block;
    }
    
    .home .content h3{
        font-size: 5rem;
    }
    
    .home .content span{
        font-size: 2.5rem;
    }    
    
    .icons-container .icons h3{
        font-size: 2rem;
    }

    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
    
    .search-form {
        display: none; /* Nasconde la barra di ricerca su schermi più piccoli */
    }
    
    h1 {
        font-size: 5rem;
    }

    .ricetta-item {
        width: 80%;
    }

    .ricetta-details h2 {
        font-size: 2rem;
    }

    .ricetta-details a,
    .ricetta-details button {
        font-size: 1.5rem;
    }
}

@media (max-width:450px){
	html{
	font-size: 50%;
	}
	
	.heading{
		font-size: 3rem;
  }
  
  h1 {
        font-size: 4rem;
    }

    .ricetta-item {
        width: 100%;
    }

    .ricetta-details h2 {
        font-size: 1.8rem;
    }

    .ricetta-details a,
    .ricetta-details button {
        font-size: 1.2rem;
    }
}
