:root{
    --gold: #FFD700; 
    --dark-bg: #222;
    --light-bg: #f5f5f5;
    --border-color: #ccc;
    --error-color: #e74c3c;
    --button-hover: rgb(255, 255, 128);
    --input-focus: rgb(255, 255, 128);
    --box-shadow: rgba(0, 0, 0, 0.1);	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
}

section{
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 0, 0, .05);
}

.heading span{
    color: var(--gold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #fff;
    color: #333;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--gold);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff; /* Cambiato a bianco */
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

header .logo{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    font-weight: bolder;
}

header .logo span{
    color: var(--gold);
}

header .navbar a{
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #000; /* Cambiato a nero */
}

header .navbar a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header .icons {
    display: flex;
    align-items: center;
    gap:1rem;
}

header .icons a{
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
}

header .icons a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid #000; /* Cambiato a nero */
    display: none;
}




/* Stili per la barra di ricerca e l'icona di ricerca */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 3rem 0 0 3rem;
    outline: none;
}

.search-form .search-button {
    background: var(--gold); /* Colore dorato */
    color: #fff;
    border: none;
    border-radius: 0 3rem 3rem 0;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    outline: none;
}

.search-form .search-button:hover {
    background: rgba(0, 0, 0, 0.5) ; /* Cambio colore al passaggio del mouse */
}

.search-form .search-button i {
    font-size: 1.6rem;
}

.icons a {
    margin-left: 1rem; /* Spaziatura tra le icone */
}





/* Dropdown per admin nell'header */

header .icons a,
header .icons .dropdown {
    margin-right: 1.5rem; /* Spaziatura orizzontale tra le icone */
}

header .icons .dropdown {
    position: relative;
}

/* Stile per l'icona dell'utente nel dropdown */

header .icons .dropdown .user-icon {
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem; /* Aggiungi spazio sotto l'icona */
}

/* Cambia il colore dell'icona al passaggio del mouse */

header .icons .dropdown .user-icon:hover {
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

/* Stile per il contenitore del nome utente */

header .icons .dropdown .user-info {
    text-align: center;
    font-size: 2.7rem; /* Dimensione più grande per il nome utente */
    font-style: italic; /* Stile italico per il nome utente */
    margin-bottom: 1.5rem; /* Spazio sotto il nome utente */
}

/* Linea separatoria sotto il nome utente */

header .icons .dropdown .user-info::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0.5rem auto;
    border-bottom: 1px solid #ccc; /* Colore e stile della linea */
}

/* Stile per il contenitore delle opzioni nel dropdown */

header .icons .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    top: calc(100% + 1rem); /* Posiziona il dropdown sotto l'icona */
    left: 50%; /* Centra orizzontalmente il dropdown */
    transform: translateX(-50%);
    transition: opacity 0.3s ease; /* Aggiungi transizione per l'opacità */
    opacity: 0;
    text-align: center;
}

/* Stile per le opzioni nel dropdown */

header .icons .dropdown-content a {
    color: #333;
    padding: 0.8rem 1rem; /* Padding per le opzioni */
    display: block;
    text-align: center;
    text-decoration: none; /* Rimuovi sottolineatura dai link */
    font-size: 1.2rem; /* Dimensione più piccola per le opzioni */
}

/* Cambia il colore di sfondo e testo al passaggio del mouse sui link */

header .icons .dropdown-content a:hover {
    background-color: var(--gold);
    color: #fff;
}

/* Mostra il dropdown quando l'icona è in hover o il dropdown è in hover */
header .icons .dropdown:hover .dropdown-content,
header .icons .dropdown-content:hover {
    display: block;
    opacity: 1;
}

/* Imposta una larghezza fissa per il dropdown content */
header .icons .dropdown-content {
    width: 200px; /* Imposta una larghezza fissa */
}



/*New ricetta*/

body {
    margin: 0;
    padding: 0;
    position: relative; /* Posizione relativa per contenere il pseudo-elemento */
}

body::before {
    content: '';
    position: fixed; /* Posizione fissa per coprire l'intera finestra */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/img3.png'); /* Immagine di sfondo */
    background-size: cover; /* Copre l'intera area */
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* Posiziona sotto gli altri contenuti */
}

.ricetta_main {
    max-width: 500px;
    margin: 10rem auto ;
    padding: 3rem;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow);
    border: 1px solid var(--border-color);
    background: rgb(255, 255, 255);
    position:relative;
}

.ricetta_main h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--gold);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

form div {
    margin-bottom: 2rem;
}

label {
   display: block;
   font-size: 1.8rem;
   margin-bottom: .5rem;
   color: #333;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: calc(100% - 2rem);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1.4rem;
    color: #333;
    background: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color:var(--gold);
    box-shadow: 0 0 5px var(--input-focus);
}

.ricetta_main span {
    display: block;
    margin-top: .3rem;
    color: var(--error-color);
    font-size: 1.5rem;
}

button {
    display: inline-block;
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 5px;
    background: var(--gold);
    color: #333;
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.ricetta_main button[type="submit"]:hover {
    background: var(--button-hover);
    transform: translateY(-2px);
}


/* Media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    
    header{
        padding: 2rem;
    }
    
    section{
        padding: 2rem;
    }
    
    .home{
        background-position: left;
    }
    
}    
    
@media (max-width:768px){
    
    header .fa-bars{
        display: block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgb(255, 255, 255);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid var(--gold);
        display: block;
    }
    
    .home .content h3{
        font-size: 5rem;
    }
    
    .home .content span{
        font-size: 2.5rem;
    }    
    
    .icons-container .icons h3{
        font-size: 2rem;
    }

    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
    
    .search-form {
        display: none; /* Nasconde la barra di ricerca su schermi più piccoli */
    }
}

@media (max-width:450px){
	html{
	font-size: 50%;
	}
	
	.heading{
		font-size: 3rem;
  }
}
