*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	outline:none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
	
}

p{
	font-weight:300;
	color:#111;
}

body{
	min-height: 1000px;
}

.banner{
	position:relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../images/bg.jpg);
	background-size: cover;
}

.banner .content{
	max-width: 900px;
	text-align: center;
}

.banner .contente h2{
	font-size: 5em;
	color:#fff;
}

.banner.content p{
	font-size: 1em;
	color:#fff;
}

.btn{
	font-size: 1em;
	color:#fff;
	background: #ff0157;
	display: inline-block;
	padding:  10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

header{
	position: fixed;
	top:0;
	left:0;
	right:0;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}

header .logo{
	color:#fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header .logo span{
	color: #ff0157;
}

header .navigation {
	position: relative;
	display: flex;
}

header .navigation li{
	list-style: none;
	margin-left: 30px;
}

header .navigation li a{
	text-decoration: none;
	color:#fff;
	font-weight: 300;
}

header .icons a{
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: .5rem;
	font-size: 2rem;
	color: #fff;
	text-align: center;;
	margin-right: 2rem;
}

menu-btn{
	display: none;
}

header #toggler{
	display: none;
}

header .fa-bars{
	font-size: 3rem;
	color: #fff;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: .1rem solid rgb(255, 255, 255);
	display: none;
}
