:root{
    --gold: #FFD700; /* Colore dorato */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    background: #fff
}

section{
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span{
    color: var(--gold);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #fff;
    color: #333;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--gold);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff; /* Cambiato a bianco */
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

header .logo{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    font-weight: bolder;
}

header .logo span{
    color: var(--gold);
}

header .navbar a{
    font-size: 3rem;
    padding: 0 1.5rem;
    color: #000; /* Cambiato a nero */
}

header .navbar a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header .icons {
    display: flex;
    align-items: center;
    gap:1rem;
}

header .icons a{
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
}

header .icons a:hover{
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #000; /* Cambiato a nero */
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid #000; /* Cambiato a nero */
    display: none;
}




/* Stili per la barra di ricerca e l'icona di ricerca */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    padding: 0.6rem 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 3rem 0 0 3rem;
    outline: none;
}

.search-form .search-button {
    background: var(--gold); /* Colore dorato */
    color: #fff;
    border: none;
    border-radius: 0 3rem 3rem 0;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    outline: none;
}

.search-form .search-button:hover {
    background: rgba(0, 0, 0, 0.5) ; /* Cambio colore al passaggio del mouse */
}

.search-form .search-button i {
    font-size: 1.6rem;
}

.icons a {
    margin-left: 1rem; /* Spaziatura tra le icone */
}





/* Dropdown per admin nell'header */

header .icons a,
header .icons .dropdown {
    margin-right: 1.5rem; /* Spaziatura orizzontale tra le icone */
}

header .icons .dropdown {
    position: relative;
}

/* Stile per l'icona dell'utente nel dropdown */

header .icons .dropdown .user-icon {
    font-size: 2.5rem;
    color: #000; /* Cambiato a nero */
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem; /* Aggiungi spazio sotto l'icona */
}

/* Cambia il colore dell'icona al passaggio del mouse */

header .icons .dropdown .user-icon:hover {
    color: var(--gold); /* Cambia a dorato al passaggio del mouse */
}

/* Stile per il contenitore del nome utente */

header .icons .dropdown .user-info {
    text-align: center;
    font-size: 2.7rem; /* Dimensione più grande per il nome utente */
    font-style: italic; /* Stile italico per il nome utente */
    margin-bottom: 1.5rem; /* Spazio sotto il nome utente */
}

/* Linea separatoria sotto il nome utente */

header .icons .dropdown .user-info::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0.5rem auto;
    border-bottom: 1px solid #ccc; /* Colore e stile della linea */
}

/* Stile per il contenitore delle opzioni nel dropdown */

header .icons .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    top: calc(100% + 1rem); /* Posiziona il dropdown sotto l'icona */
    left: 50%; /* Centra orizzontalmente il dropdown */
    transform: translateX(-50%);
    transition: opacity 0.3s ease; /* Aggiungi transizione per l'opacità */
    opacity: 0;
    text-align: center;
}

/* Stile per le opzioni nel dropdown */

header .icons .dropdown-content a {
    color: #333;
    padding: 0.8rem 1rem; /* Padding per le opzioni */
    display: block;
    text-align: center;
    text-decoration: none; /* Rimuovi sottolineatura dai link */
    font-size: 1.2rem; /* Dimensione più piccola per le opzioni */
}

/* Cambia il colore di sfondo e testo al passaggio del mouse sui link */

header .icons .dropdown-content a:hover {
    background-color: var(--gold);
    color: #fff;
}

/* Mostra il dropdown quando l'icona è in hover o il dropdown è in hover */
header .icons .dropdown:hover .dropdown-content,
header .icons .dropdown-content:hover {
    display: block;
    opacity: 1;
}

/* Imposta una larghezza fissa per il dropdown content */
main {
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 1200px;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
	font-size: 80px;
	text-align: center;
	margin-top: 3rem;
	color:var(--gold);
}

h2 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 3rem;
}

h4{
	font-size: 4rem;
	margin-top: 3rem;
}

.ricetta-details {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    position: relative;
}

.left-column {
	width: 50%;
    margin-right: 2rem;
    background-color: #f0f0f0; /* Grigio per la parte per variare gli ingredienti */
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.left-column .descrizione {
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
}

.ingredienti-list {
    margin-top: 1rem;
    padding-left: 0;
    list-style-type: none;
}

.ingredienti-list li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
}

.ingredienti-list span{
	font-size: 2rem;
}

.ingredienti-list input[type="number"] {
    width: 80px; /* Rendi il box più corto */
    font-size: 1.5rem; /* Aumenta il font size */
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}



.ricetta-image {
    width: 100%;
    height:400px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.ricetta-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.cuoco-info {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.cuoco-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.cuoco-details {
    font-size: 2.5rem;
    color: #333;
}

.fine-btn {
    position: absolute;
    bottom: 0; 
    right: 0;
}


button{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--gold);
    color: #000;
    padding: .9rem 2rem;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.7rem;
    border: none;
}

button:hover, .btn:hover {
    background: #333;
    color: #fff;
}

button:active, .btn:active {
    background: var(--gold);
    color: #000;
}




@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
    
    .ricetta-details {
        flex-direction: column;
        gap: 1rem;
    }
    
    .ricetta-image {
        max-width: 100%;
    }
    
    .cuoco-info {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .cuoco-image img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}

/* Media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    
    header{
        padding: 2rem;
    }
    
    section{
        padding: 2rem;
    }
    
    .home{
        background-position: left;
    }
}    
    
@media (max-width:768px){
    
    header .fa-bars{
        display: block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgb(255, 255, 255);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid var(--gold);
        display: block;
    }
    
    .home .content h3{
        font-size: 5rem;
    }
    
    .home .content span{
        font-size: 2.5rem;
    }    
    
    .icons-container .icons h3{
        font-size: 2rem;
    }

    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
    
    .search-form {
        display: none; /* Nasconde la barra di ricerca su schermi più piccoli */
    }
    
        main {
        padding: 1rem;
    }


    .ricetta-details {
        flex-direction: column;
    }

    .ricetta-image {
        margin-bottom: 1rem;
    }

    .left-column {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media (max-width:450px){
	html{
	font-size: 50%;
	}
	
	.heading{
		font-size: 3rem;
  }
}
