<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aggiorna i dati di una ricetta</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/updateRicetta.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body>
	<header>

		<input type="checkbox" name="" id="toggler">
		<label for="toggler" class="fas fa-bars"></label>

		<a sec:authorize="isAuthenticated()" href="/success" class="logo">Siw-Food<span>.</span></a>
		<a sec:authorize="!isAuthenticated()" href="/" class="logo">Siw-Food<span>.</span></a>

		<nav class="navbar">
			<a sec:authorize="isAuthenticated()" href="/success">Home</a>
			<a sec:authorize="!isAuthenticated()" href="/">Home</a>
			<a href="/ricetta"> Ricette </a>
			<a href="/cuoco"> Chef </a>
		</nav>



		<div class="icons">
			<!-- Form di ricerca -->
			<form class="search-form" th:action="@{/searchRicette}" method="post">
				<input type="search" id="search-box" name="nome" placeholder="Cerca ricette...">
				<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
			</form>
			<!-- Se l'utente è autenticato -->
			<div sec:authorize="isAuthenticated()">
				<div class="dropdown" id="userDropdown">
					<span class="user-icon fas fa-user"></span>
					<div class="dropdown-content" id="dropdownContent">
						<div class="user-info">
							<span class="user-name" th:text="${userDetails.username}">Marik Events</span>
						</div>
						<div th:if="${userRole== 'DEFAULT'}">
							<a href="/chef/profile">Profilo</a>
							<a href="/user/formNewRicetta">Crea una ricetta</a>
						</div>

						<a href="/logout">Logout</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</div>

			<!-- Se l'utente NON è autenticato -->
			<a sec:authorize="!isAuthenticated()" href="/login" class="fas fa-user"></a>
		</div>

	</header>


	<main>
		<div class="heading">
			<h1>Aggiorna Ricetta</h1>
			<h2 th:text="${ricetta.nome}">Nome Ricetta</h2>
		</div>

		<div class="ricetta-details" th:if="${ricetta}">
			<div class="left-column">
				<p class="descrizione" th:utext="${ricetta.descrizione}">Descrizione</p>

				<h4>Ingredienti</h4>
				<form th:action="@{/user/saveIngredientiQuantita}" method="post" id="ingredientiQuantitaForm">
					<input type="hidden" name="ricettaId" th:value="${ricetta.id}" />
					<ul class="ingredienti-list">
						<li th:each="ingrediente : ${ricetta.ingredienti}">
							<label th:for="'quantità_' + ${ingrediente.id}" th:text="${ingrediente.nome}">Nome
								ingrediente</label>
							<input type="number" th:id="'quantità_' + ${ingrediente.id}"
								th:name="'ingredienti[' + ${ingrediente.id} + '].quantita'"
								th:value="${ingrediente.quantità != null ? ingrediente.quantità : ''}" min="0"
								step="any"
								oninput="this.value = !!this.value && !isNaN(this.value) ? Math.abs(this.value) : null" />
							<span>g</span>
						</li>
					</ul>
					<button type="submit">Salva</button>
				</form>

				<a th:href="@{/user/formNewIngrediente(source='formUpdateRicetta', ricettaId=${ricetta.id})}">
					<button type="button">Crea ingrediente</button>
				</a>
				<a th:href="@{'/user/updateIngredienti/' + ${ricetta.id}}">
					<button type="button">Aggiungi ingredienti</button>
				</a>
			</div>


			<div class="right-column">
				<div class="ricetta-image">
					<img th:src="@{'/images/ricette/' + ${ricetta.image}}" alt="Immagine della ricetta">
				</div>

				<div class="cuoco-info">
					<div class="cuoco-details">
						<!--<div th:if="${userRole == 'ADMIN'}">-->
							<div th:unless="${ricetta.cuoco}">
								<!-- Immagine di default del profilo -->
								<div class="cuoco-image">
									<img id="cuocoImage" src="/images/cuochi/profilo.png" alt="Immagine del cuoco">
								</div>
								<h3>Chef:</h3>
								<select id="cuocoSelect" onchange="aggiornaImmagineCuoco()">
									<option value="" data-image="/images/cuochi/profilo.png">Seleziona un cuoco</option>
									<!-- Itera sulla lista dei cuochi disponibili -->
									<option th:each="cuoco : ${cuochi}" th:value="${cuoco.id}"
										th:data-image="@{${cuoco.image != null && cuoco.image != '' ? '/images/cuochi/' + cuoco.image : '/images/cuochi/profilo.png'}}"
										th:text="${cuoco.nome + ' ' + cuoco.cognome}"></option>
								</select>

								<button type="button" onclick="salvaCuoco()">Salva</button>
							</div>


							<div th:if="${ricetta.cuoco}">
								<div class="cuoco-image">
									<img th:src="@{'/images/cuochi/' + ${ricetta.cuoco.image}}" alt="Immagine del cuoco"
										onerror="this.onerror=null; this.src='/images/cuochi/profilo.png';">
								</div>
								<h3>Chef: </h3>
								<span th:text="${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}">Carlo
									Cracco</span>
							</div>
						</div>



						<!--<div class="cuoco-image" th:unless="${userRole == 'ADMIN'}">-->
        
        
						<div class="fine-btn">
							<a th:href="@{'/ricetta/' + ${ricetta.id}}">
								<button type="button">Termina</button>
							</a>
						</div>
					</div>
				</div>
	</main>



	<script th:inline="javascript">
		function aggiornaImmagineCuoco() {
			var selectElement = document.getElementById('cuocoSelect');
			var selectedOption = selectElement.options[selectElement.selectedIndex];
			var cuocoImage = selectedOption.getAttribute('data-image');

			// Aggiorna l'immagine del cuoco
			document.getElementById('cuocoImage').src = cuocoImage || '/images/cuochi/profilo.png';
		}

		function salvaCuoco() {
			var selectElement = document.getElementById('cuocoSelect');
			var selectedCuocoId = selectElement.value;
			var ricettaId = /*[[${ricetta.id}]]*/ 'RICETTA_ID'; // Thymeleaf will replace this with the actual ID

			if (selectedCuocoId) {
				var salvaUrl = '/user/setCuocoToRicetta/' + selectedCuocoId + '/' + ricettaId;
				window.location.href = salvaUrl;
			}
		}
	</script>

</body>

</html>