<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scelta ingredienti</title>

	<!--comando per legare una libreria che migliora le performance e riduce i tempi di caricamento-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap">


	<!--comando per legare un foglio di stile esterno all'html-->
	<link rel="stylesheet" href="/css/ingredientiToAdd.css">

	<link rel="shortcut icon" href="/images/icona.png">
</head>

<body>
	<header>

		<input type="checkbox" name="" id="toggler">
		<label for="toggler" class="fas fa-bars"></label>

		<a sec:authorize="isAuthenticated()" href="/success" class="logo">Siw-Food<span>.</span></a>
		<a sec:authorize="!isAuthenticated()" href="/" class="logo">Siw-Food<span>.</span></a>

		<nav class="navbar">
			<a sec:authorize="isAuthenticated()" href="/success">Home</a>
			<a sec:authorize="!isAuthenticated()" href="/">Home</a>
			<a href="/ricetta"> Ricette </a>
		</nav>



		<div class="icons">
			<!-- Form di ricerca -->
			<form class="search-form" th:action="@{/searchRicette}" method="post">
				<input type="search" id="search-box" name="nome" placeholder="Cerca ricette...">
				<button type="submit" class="search-button"><i class="fas fa-search"></i></button>
			</form>
			<!-- Se l'utente è autenticato -->
			<div sec:authorize="isAuthenticated()">
				<div class="dropdown" id="userDropdown">
					<span class="user-icon fas fa-user"></span>
					<div class="dropdown-content" id="dropdownContent">
						<div class="user-info">
							<span class="user-name" th:text="${userDetails.username}">Marik Events</span>
						</div>
						<div th:if="${userRole== 'DEFAULT'}"  >
							<a href="chef/profile">Profilo</a>
						    <a href="/user/formNewRicetta">Crea una ricetta</a>
						</div>
						
						<a href="/logout">Logout</a>
					</div>
					<div class="arrow-down"></div>
				</div>
			</div>

			<!-- Se l'utente NON è autenticato -->
			<a sec:authorize="!isAuthenticated()" href="/login" class="fas fa-user"></a>
		</div>

	</header>

	<main>
		<div class="heading">
			<h1>Scelta ingredienti per la ricetta</h1>
			<h2 th:text="${ricetta.nome}">Nome Ricetta</h2>

			<div class="ingredienti">
				<h2>Ingredienti già aggiunti:</h2>
				<p th:if="${ricetta.ingredienti.isEmpty()}">Non ci sono ingredienti per questa ricetta</p>
				<ul>
					<li th:each="ingrediente : ${ricetta.ingredienti}">
						<span th:text="${ingrediente.nome}"> </span>
						<div class="btn-group">
							<a
								th:href="@{'/user/removeIngredienteFromRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}">Cancella</a>
						</div>
					</li>
				</ul>
				<div>
					<h3>Ingredienti che si possono aggiungere:</h3>
					<ul>
						<li th:each="ingrediente : ${ingredientiToAdd}">
							<span th:text="${ingrediente.nome}"> </span>
							</span>
							<div class="btn-group">
								<a
									th:href="@{'/user/addIngredienteToRicetta/'+ ${ingrediente.id}+'/'+${ricetta.id}}">Aggiungi</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="fine-btn">
				<a th:href="@{'/user/formUpdateRicetta/' + ${ricetta.id}}">
					<button type="button">Fine</button></a>	
			</div>
</body>

</html>